.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navigateur{
  margin-top: 100px;
  margin-left: 60px;
  height: 100%;
  width: 150px;
  
  border: #282c34;
  height: 100%;
}

.container-fluid{
  background-color: rgb(221, 221, 221);
  border: 0,5px solid;
}

.dashboard{
  color: #4d4d4d;
  border-left: 1px solid;
}

.nb_h{
  margin-left: 5%;
}

.row{
  margin-bottom: 4%;
}

h4{
  text-decoration: underline;
}

.artiste{
  font-style: italic;
  font-size: small;
}

.zoom img:hover{
  width: 110%;
  height: 110%;
}

.album {
  width: 110%;
  height: 110%;
}

.accueil{
  width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
  color:#555;
}

.admin{

  width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}

.camembert{
  float: top;
  border: 1px solid;
}



.tableau_cont{
  width: 50%;
}
form{
  
  background-color: rgb(247, 245, 245);
  border: 0,5px solid;
  width: 500px;
  height: 300px;
}
